{# _myapp/templates/base.html_ #}

<!DOCTYPE html>
<html lang="en">
	<head>
	    {% block head %}

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %} - Test Webapp</title>

		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css">
        <!-- Custom CSS -->


		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		{% endblock %}
	</head>
	<body>
		{% block body %}
        <div class="container">
			<div class="navbar">
			{% block navbar %}
			  {% include "nav.html" ignore missing %}
			{% endblock %}
			 </div>
			<div id="content">
			{% block content %}

			{% block page_content %} {% endblock %}

			{% endblock %}
			</div>
			<div id="footer">
			{% block footer %}
				<div class="row">
					<div class="col-md-12">
						<p>&copy; Copyright 2015 by <a href="http://127.0.0.1:5000/">me</a>.</p>
						<p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>.
						Icons from <a href="http://fontawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>.
						Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>
					</div>
				</div>
			</div>
			{% endblock %}
			</div>
        </div>

			{% block scripts %}
			<!-- jQuery -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<!-- Bootstrap JavaScript -->
			<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			<!-- Bootswatch JavaScript -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/flatly/bootstrap.min.css"></script>
			{% endblock %}

		{% endblock %}
	</body>
</html>
